<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exercícios</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-sanitize.js"></script>
</head>


<body ng-app="ex66" ng-controller="ctrl66" class="container">



 <h3>A Secretaria de Meio Ambiente que controla o índice de poluição mantém 3 grupos de indústrias 
     que são altamente poluentes do meio ambiente. O índice de poluição aceitável varia de 0 (zero)
     até 0,25. Se o índice sobe para 0,3 as indústrias do 1o grupo são intimadas a suspenderem suas
     atividades, se o índice crescer para 0,4 as indústrias do 1o e 2o grupo são intimadas a 
     suspenderem suas atividades, se o índice atingir 0,5 todos os grupos devem ser 
     notificados a paralisarem suas atividades. Faça um algoritmo que leia o índice de poluição
     medido e emita a notificação adequada aos diferentes grupos de empresas.</h3>

    <div class="form-group"> <!--Row tiraria o espaco -->
        
        <label>Indice dos grupos</label>
        <input type="number" ng-model="indice">  
    </div>

    <div ng-bind-html="saida(indice)" ng-if="indice"></div>
    </body>

</html>
<script>
    var app = angular.module("ex66", ['ngSanitize']); // ngSanitize renderiza a string
    app.controller("ctrl66", function ($scope, $sce) { //sce ajudar a escrever código para que fique seguro       
        $scope.saida = function (indice) {
            if (indice>= 0.05 && indice <= 0.25) {
               return "Indice aceitavel"
             }
                if(indice >0.25 && indice < 0.4) {
                return "Parar grupo 1"
             }
                 if (indice>= 0.4 && indice <= 0.5) {
                return "Parar grupo 1 e 2"
             }
                if (indice>= 0.5) {
                return "Parar todos os grupos imediatamente"
             }

         }
    })
</script> 
